#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# ansible file
*.retry

#Mac
.DS_Store

# General
.vagrant/

# Log files (if you are creating logs in debug mode, uncomment this)
# *.logs

#Ansible
*.retry

# Public.zip from hugo
public.zip
